.delete-form {
    display: inline-block;
}

button {
    background-color: silver;
    border: 1px;
}

a {
    text-decoration: none;
    color: blue;
}

.flash {
    opacity: 0;
    animation: disappear 3s;
    visibility: hidden;
}


@keyframes disappear {
    0% {
        opacity: 1;
        visibility: visible;
    }
    80% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}